.vs
.idea
.vscode

build
out
models/*
!models/metadata.json
!models/yolo11n.onnx

videos/*
!videos/MOT16-08-raw.mp4
!videos/traffic_monitor-00.00.31.250-00.02.30.000.mp4

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

3rdparty/*
!3rdparty/.gitkeep
